/* making Hackathon Ideas blue */
h1 {
    color: rgb(52, 174, 235);
    border-width: 2px;
    border-style: solid;
    border-color: rgb(52, 174, 235);
    border-radius: 5px;
    margin: auto;
    text-align: center;
    height: 2em;
    width: 50%;
    min-width: 25%;
    max-width: 100%;
    position: static;
}

#attendance {
    color: green;
}

.pink-background {
    background-color: pink;
}

#fruit-form {
    margin-top: 1pc;
    margin-bottom: 1pc;
    margin-left: 1pt;
    margin-right: 1pt;
}

#fruit {
    margin: 0px 0px 1pc 0px;
}

.attendance-element {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1vw;
    padding-right: 1vw;
}

.agenda-element {
    padding: 1rem 1rem 1rem 1rem;
}

#question {
    color: tomato;
    text-decoration: underline;
}

#favorite-fruit-label {
    display: block;
}

#favorite-fruit-label:hover {
    color: blue;
}

#strawberry {
    display: inline;
}

#click-button {
    position: relative;
}

#click-button:active {
    color: blue;
}

#recordings {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.fruit-container {
    display: grid;
    justify-items: center;
}

.fruit-element {
    grid-column-start: auto;
    grid-column-end: auto;
    grid-row-start: auto;
    grid-row-end: 1;
}

@media only screen and (max-width: 600px) {
    h1 {
        width: 25%;
    }
}

* {
    background: lightcyan;
}

a[href] {
    font-size: small;
}

h1:hover {
    color: lightseagreen;
}

button, label {
    text-decoration: underline;
}

fieldset legend {
    color: red;
}

ol > li {
    color: dodgerblue;
}

h2 ~ h3 {
    text-decoration: underline;
}

h2 + h2 {
    text-decoration: underline;
}

li.attendance-element {
    color: purple;
}